.button{
    -fx-background-color: #FFFFFF;

    /*-fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 6);*/

}

.button:hover{
    -fx-cursor: hand;
    -fx-font-weight:bold;
    -fx-background-color: #BEF0FF;
}


.button:pressed{
    -fx-background-color: #BEF0FF;
}

/*.button:focused{
    -fx-background-color: #BEF0FF;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 0px 3px;
}
*/